/*Main Styling*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.clr {
    clear: both;
}

/*Header Section*/
#main-header {
    width: 92%;
    height: 90px;
    padding: 15px 50px;
}

.logo img {
    width: 130px;
    padding-top: 5px;
}

#main-header ul li {
    display: inline-block;
    cursor: pointer;
    padding: 0 15px;
}

#main-header ul li:hover {
    color: #A30041;
}

.header-top {
    font-size: 13px;
    padding-bottom: 15px;
}

.header-top ul li {
    margin-top: -25px;
}

.header-right-top {
    margin-left: 380px;
}

#languages {
    border: none;
    cursor: pointer;
}

.line-for-header {
    width: 99%;
    height: 0.2px;
    border: none;
    background-color: rgb(223, 223, 223);
}

.header-bottom {
    padding: 20px 10px 0 10px;
}

.fa-mobile-screen-button {
    margin-left: 340px;
    cursor: pointer;
    color: #A30041;
}

.fa-mobile-screen-button:hover {
    color: black;
}

/*Showcase Section*/

.showcase-section {
    width: 100%;
    height: 420px;
    background-color: #efefef;
}

.showcase-left {
    width: 50%;
    float: left;
    font-size: 25px;
    padding: 100px 0 0 50px;
    line-height: 60px;
}

.showcase-left button {
    padding: 15px;
    margin-top: 40px;
    background-color: #A30041;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}

.showcase-left button:hover {
    background-color: white;
    color: #A30041;
}

.showcase-right img {
    width: 530px;
    height: 400px;
    padding-left: 70px;
}

/*Section First*/

#section1 {
    width: 91%;
    height: 980px;
    padding: 60px;
}

.relevant h1 {
    font-size: 22px;
}

.relevant button {
    width: 50px;
    height: 50px;
    padding: 5px;
    float: right;
    border: rgb(223, 223, 223) solid 1px;
    background-color: transparent;
    border-radius: 5px;
    margin-top: -40px;
    margin-right: 20px;
}

.container {
    display: flex;
}

.useful {
    width: 230px;
    height: 230px;
    border-radius: 10px;
    margin-top: 50px;
    margin-right: 20px;
    background-color: #efefef;
}

.useful img {
    width: 200px;
    height: 130px;
    padding: 16px;
}

.useful p {
    padding: 0 21px;
    font-size: 15px;
}

.btn button {
    width: 280px;
    padding: 17px;
    background-color: #efefef;
    border-radius: 5px;
    font-size: 18px;
    border: rgb(223, 223, 223) solid 1px;
    color: #A30041;
    cursor: pointer;
    margin: 50px 0 0 480px;
}

.btn button:hover {
    background-color: #A30041;
    color: white;
}

/*Bottom Section*/
.bottom {
    width: 100%;
    height: 500px;
    margin-top: 40px;
    background-color: #efefef;
    border-radius: 15px;
}

.bottom-info {
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    padding-top: 30px;
}

.comments {
    width: 92%;
    height: 130px;
    padding: 40px;
    display: flex;
}

.icon {
    width: 290px;
    height: 38px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    margin-top: 8px;
    margin-right: 25px;
    cursor: pointer;
    font-size: 16px;
    border: rgb(223, 223, 223) solid 1px;
}

.icon:hover {
    border: #A30041 solid 1px;
    box-shadow: 4px 4px 4px gray;
}

.icon i {
    color: #A30041;
    padding-right: 12px;
}


.right img {
    height: 230px;
    padding-top: 10px;
}

/*Desired Goals Section*/
#big-section {
    width: 90%;
    height: 400px;
    padding: 60px;
    letter-spacing: 1px;
    background-color: #efefef;
}

.box-info {
    font-size: 20px;
}

.box-info p {
    margin: 30px 0;
}

.container {
    float: left;
    width: 50%;
}

.image {
    width: 40%;
    float: right;
}

.image img {
    width: 550px;
    height: 500px;
    margin-top: -150px;
}

.ranges {
    margin-left: 1rem;
}

.sum,
.months {
    width: 200px;
    height: 30px;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    border: rgb(199, 199, 199) 1px solid;
    color: black;
    border-bottom: #A30041 5px solid;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-bottom: -20px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}


.months {
    margin-top: 40px;
}

.text2 {
    padding: 80px 30px 0 0;
}

.average {
    padding: 50px 30px 0 0;
}

.text {
    line-height: 28px;
    margin-top: -20px;
    margin-left: 100px;
}

.deposit {
    width: 280px;
    height: 50px;
    cursor: pointer;
    background-color: white;
    border: #A30041 solid thin;
    color: #A30041;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 5px;
}

.deposit:hover {
    background-color: #A30041;
    color: white;
}

.paragraph {
    margin-top: 300px;
}


/*New Section about Exchange Rates*/
#exchange-rates {
    width: 100%;
    height: 1200px;
}

.contain {
    height: 800px;
    padding: 30px;
    display: flex;
    width: 95%;
}

.section-left {
    width: 50%;
    margin: 20px;
    padding: 50px;
    letter-spacing: 2px;
    line-height: 25px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    background-color: #faf8f8;
    border-radius: 10px;
}

.btn2 {
    margin: 50px 10px 0 0;
    width: 150px;
    height: 55px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    background-color: #A30041;
    border: solid thin;
}

.btn2 span {
    font-size: 9px;
}

.btn3 button {
    padding: 10px;
    width: 310px;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #A30041;
    font-size: 18px;
    background-color: transparent;
    border: #A30041 solid thin;
}

.btn3 button:hover {
    background-color: #A30041;
    color: white;
}

.section-right {
    width: 50%;
    margin: 20px;
    padding: 50px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    background-color: #faf8f8;
    border-radius: 10px;
}

/*Right Section*/
.container2 {
    display: inline-block;
}

.exchange1 {
    width: 100%;
    height: 90px;
    border-bottom: 1px solid rgb(178, 178, 178);
}

.exchange2 {
    width: 100%;
    height: 90px;
}

.exchange1 li,
.exchange2 li {
    width: 20%;
    margin-left: 20px;
    margin-top: 20px;
    height: 60px;
    display: inline-block;
}

.exchange1 span,
.exchange2 span {
    font-size: 12px;
    color: gray;
}

.exchange1 i,
.exchange2 i {
    color: gray;
}


.fa-caret-down {
    color: red !important;
}

.btn4 {
    padding: 10px;
    width: 220px;
    height: 55px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #A30041;
    font-size: 16px;
    background-color: #f5f3f3;
    border: #A30041 solid thin;
}

.btn4:hover {
    background-color: #A30041;
    color: white;
}





/*Footer*/
.footer {
    width: 100%;
    height: 765px;
    background-color: #f4f2f2;
}

.footer-top {
    width: 98%;
    height: 100px;
    display: flex;
    padding: 8px;
    border-bottom: 1px solid rgb(178, 178, 178);
}

.footer-top-left {
    width: 50%;
    float: left;
    margin-left: 30px;
}

.footer-top-right {
    width: 55%;
}

.footer-top-left nav ul li {
    display: inline-block;
    padding: 15px;
}

.socials {
    width: 93%;
    background-color: #ddd;
    margin-top: 20px;
    padding: 8px;
    border-radius: 10px;
}

.socials ul li {
    display: inline-block;
    padding: 10px;
}

.socials i {
    color: grey;
    background-color: transparent;
    border: rgb(165, 165, 165) solid 1px;
    padding: 5px;
    border-radius: 5px;
}

/*Footer Middle*/
.footer-middle {
    width: 100%;
    height: 580px;
    display: flex;
    border-bottom: 1px solid rgb(178, 178, 178);
}

.footer-middle1,
.footer-middle2,
.footer-middle3,
.footer-middle4 {
    width: 25%;
    line-height: 35px;
    padding: 30px;
    margin-left: 25px;
    font-size: 15px;
}

.cout-user {
    position: relative;
    width: 150px;
    height: 50px;
    border: 1px solid #A30041;
}

.TAS-IX {
    background-color: #A30041;
    font-weight: 600;
    color: #fff;
    padding: 5px;
    position: absolute;
    font-size: 12px;
    height: 80%;
    writing-mode: vertical-lr;
    display: flex;
    margin: auto;
    transform: rotate(180deg);
}

.cout-user-text {
    font-size: 1rem;
    padding: 5px;
    margin-top: -15px;
}

.footer-bottom {
    display: flex;
}

.footer-bottom-left,
.footer-bottom-middle,
.footer-bottom-right {
    padding-left: 80px;
    margin-top: 25px;
}